.video-container {
  display: flex;
}
.video {
  height: 100%;
  width: 50%;
}
.video-player {
  height: 70vh;
}

.call-container {
  display: flex;
}

.data-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.id-container {
  display: flex;
  align-items: stretch;
}
